body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("/images/download (7).png") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.bracketPage {
  min-height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* dark overlay */
}

h1 {
  color: gold;
  text-shadow: 2px 2px 5px black;
}
